body {
      background: var(--bg);
    color: var(--text);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
  input{
    background: #d9d2d2cc;
    border:0;
    box-shadow: rgba(149, 157, 165, 0.2) 40px 40px 40px;
}
  select{
        background: #d9d2d2cc;
    border:0;
    box-shadow: rgba(149, 157, 165, 0.2) 40px 40px 40px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
